:root {
  --clr-primary-800: hsl(300, 43%, 22%);
  --clr-primary-400: hsl(333, 80%, 67%);
  --clr-neutral-600: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fs-default: 0.9375;

  --ff-base: "League Spartan", sans-serif;

  --fw-light: 400;
  --fw-regular: 500;
  --fw-bold: 700;
}

/* A more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

/* Reduce line-height for large text */
h1 {
  line-height: 0.8;
}

h2 {
  line-height: 1;
}

/* Make images responsive */
img,
picture,
iframe,
svg,
video {
  max-width: 100%;
  display: block;
}

/* General */
body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  font-size: var(--fs-default);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  margin: 1.5rem;

  min-height: 100svh;
  display: grid;
  place-content: center;
}

section {
  --content-spacing: 2rem;
  --content-padding: 2.2rem;
  --fs-title: 2.3rem;
  text-align: center;

  display: grid;
  align-items: center;
  gap: var(--content-spacing);
}

blockquote {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1.5rem;
}

/* Typography */
.section__title {
  color: var(--clr-primary-800);
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
  width: 12ch;
  margin: 0 auto 1.5rem;
}

.section__subtitle {
  color: var(--clr-neutral-600);
}

.review-title {
  font-size: 1.1rem;
}

.customer-name {
  font-weight: var(--fw-bold);
}

.customer-status {
  color: var(--clr-primary-400);
  font-weight: var(--fw-light);
}

.customer-quote {
  font-weight: var(--fw-light);
  grid-column: span 2;
}

/* Layout */
.review {
  max-width: 25rem;
  background-color: var(--clr-neutral-200);
  color: var(--clr-primary-800);
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 0 auto 1rem;
}

.review::before {
  content: "";
  width: 6.25rem;
  height: 1rem;
  display: block;
  margin: 0 auto 1rem;
  background-image: url("./images/icon-star.svg");
  background-repeat: space;
}

.quote {
  max-width: 25rem;
  padding: var(--content-padding);
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-200);
  border-radius: 0.5rem;
  text-align: start;
  margin: 0 auto;
}

.customer-picture {
  max-width: 3rem;
  border-radius: 50%;
}

/* Utility classes */
.has-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 50em) {
  section {
    --fs-title: 3rem;
    grid-template-columns: repeat(2, 1fr);
    place-items: start;
  }

  header {
    text-align: start;
  }

  .section__title {
    margin-left: 0;
  }

  .has-flex {
    flex-direction: row;
  }

  .quotes {
    grid-column: span 2;
  }
  .quote:not(:first-child) {
    transform: translateY(1rem);
  }

  .top-section-title {
    padding: 0;
    font-size: 3rem;
  }

  .top-section-description {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .rating-section {
    justify-self: stretch;
    grid-column: 4 / 7;
  }

  .star-review-card {
    max-width: 27rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    margin-left: 1.5rem;
  }

  .star-review-card:not(:first-child) {
    margin-left: 4.5rem;
  }

  .star-review-card:last-child {
    margin-left: 8rem;
  }

  .star-rating {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 0.3rem;
    place-items: center;
  }

  .customer-review-section {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 1.5rem;
    grid-column: 1 / 7;
  }

  .customer-review-card {
    margin-bottom: 0;
  }

  .irene-review-card {
    margin-top: 1rem;
  }

  .anne-review-card {
    margin-top: 2rem;
  }
}
