body{
    margin: 0;
    background-color: white;
}

.content{
    min-height: 160svh;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: ; */
}

.section-title,
.section-description{
    margin: 0;
    text-align: center;
}

.section-title{
    color: hsl(300, 43%, 22%);
}

.section-description{
    color: hsl(303, 10%, 53%)
}

.star-review-card{
    background-color: hsl(300, 24%, 96%);
    text-align: center;
}

.star-review-card h2 {
    /* margin: 0; */
}





.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }